[package]
name = "graph-domain-shader"
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
graph-plugin-api = { path = "../graph-plugin-api" }
